langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
fitz
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-huggingface
chromadb
langchain-ollama
#pydantic.deprecated.decorator
sentence_transformers
langchain_huggingface
